// Filter select
#filter_body{
    grid-area: filter;

    ._filter_form_dekstop {
        display: none;
    }

    ._filter_form{
        font-family: $secondary-font;
        font-size: 2rem;
        margin-left: $m-size;

        select{
            border: none;
            border-bottom: 1px solid $white;
            background: transparent;
            color: $white;
            padding: 1rem 0;
            max-width: 90%;
        }

        option{
            color: black;
        }        
    }
}

// Desktop version
@media only screen and (min-width: $desktop-breakpoint) {
    #filter_body{
        background: $light-black!important;
        color: $off-white;
        overflow: auto;

        // Hide side scroll bar (IE, Edge, Firefox)
        -ms-overflow-style: none; 
        scrollbar-width: none;

        // Hide mobile version filter
        ._filter_form_mobile {
            display: none;
        }

        // Show desktop version filter
        ._filter_form_dekstop {
            display: block;
            // margin-left: $l-size;
            margin-right: $s-size;

            // Active class
            ._active_class {
                opacity: 1!important;
                font-weight: bolder;
                color: $white;
            }

            // Main title
            ._filter_select_title {
               font-size: 2.5rem; 
               padding: $m-size 0;
               margin-left: $m-size;

               svg {
                   font-size: 2.75rem;
               }
            }

            // Options and logo shared margins
            ._filter_all_classes_option, ._filter_class_option {
                margin: 0 0 2.5rem $l-size;
                font-size: 2rem;
                cursor: pointer;
                opacity: 0.4;
            }

            // Option icons
            svg {
                margin-right: $s-size;
            }
        }
    }

    // Hide side scroll bar (Chrome,Safari,Opera)
    #filter_body::-webkit-scrollbar{
        display: none;
    }

}

// Extreme big screen
@media only screen and (min-width: 1500px) {
    #filter_body{
        // Show desktop version filter
        ._filter_form_dekstop {
            display: block;
            margin-left: $l-size;
        }
    }
}