// Header (navigation)
#header_body {
    grid-area: header;
    background: $dark-black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center; 
    z-index: 1000;
    font-family: $secondary-font;
    
    // Desktop only image
    ._desktop_only_logo{
        display: none;
    }

    // Shared CSS values for header items
    ._header_item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
        justify-items: center;
        align-items: center;
        font-style: italic;
        opacity: 0.4;
    }

    // Active icon 
    .is-active-important {
        svg, span {
            color: $red;
        }
    }

    .is-active-homework {
        svg, span {
            color: $orange;
        }
    }

    .is-active-notes {
        svg, span {
            color: $pink;
        }
    }

    .is-active-finished {
        svg, span {
            color: $gray;
        }
    }

    .is-active-important, .is-active-homework, .is-active-notes, .is-active-finished {
        span {
            font-weight: bold;
            font-style: normal;
        }
        opacity: 1;
    } 

    // Middle Add Icon
    ._plus_square_icon {
        font-size: 4.5rem;
        color: $white;
        grid-column: 3;
        grid-row: 1/3;
    }

    // Text under icons
    span {
        color: $off-white;
        align-self: start;
        font-size: 1.2rem;
    }

    // Icons sizing
    ._star_icon, ._clipboard_icon, ._sticky_note_icon, ._calendar_check_icon {
        font-size: 2.75rem;
        color: $off-white;
    }
}

// Desktop version
@media only screen and (min-width: $desktop-breakpoint) {
    #header_body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: stretch;

        // Add todo logo
        ._plus_square_icon {
            display: none;
        }

        // Desktop only image
        ._desktop_only_logo{
            display: block;
            // margin-left: $m-size;

            ._algebra_white_logo{
                display: block;
                max-height: 3.5rem;
                margin: $l-size 0 $m-size $l-size;
            }
        }

        // Shared CSS values for header items
        ._header_item {
            grid-template-columns: 0.25fr 1fr;
            grid-template-rows: 1fr;
            margin: $m-size 0 0 $l-size;
            
            svg {
                font-size: 3.5rem;
            }

            span {
                font-size: 2.6rem;
                margin-left: $s-size;
                align-self: center;
                justify-self: start;
            }
        }
    }
}

// Extreme big screen
@media only screen and (min-width: 1500px) {
    #header_body {
        // Desktop only image
        ._desktop_only_logo{
            margin-left: $m-size;

            ._algebra_white_logo{
                margin: $l-size 0 $m-size $xl-size;
                max-height: 4.5rem;
            }
        }

        // Shared CSS values for header items
        ._header_item {
            margin: $m-size 0 0 $xl-size;
        }
    }
}