// Startup User Form
.user_setup_form {
    // Base settings
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20000;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;

    // Illustration div
    ._user_form_illustration_div {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        // Illustration SVG
        ._user_form_illustration{
            max-width: 800px;
            opacity: 0.15;
        }
    }

    // Main form
    form {
        justify-self: center;
        display: grid;
        row-gap: $l-size;
        width: 80vw;
        max-width: 400px;
        padding: $xl-size;
        margin: $xl-size;
        background: $white;
        border-radius: $m-size;
        -webkit-box-shadow: 14px 18px 39px -11px rgba(0,0,0,0.52);
        -moz-box-shadow: 14px 18px 39px -11px rgba(0,0,0,0.52);
        box-shadow: 14px 18px 39px -11px rgba(0,0,0,0.52);
        z-index: 2;

        // Form main heading
        ._user_form_heading {
            font-size: 4rem;
            font-weight: bolder;
            margin: 0;
        }

        // Shared css for div values
        ._user_form_name_div, ._user_form_program_div, ._user_form_course_div, ._user_form_semester_div {
            display: grid;
            grid-template-columns: 0.2fr 1fr;
            border-bottom: 2px solid $gray;
        }

        // Shared css for input values
        ._user_form_name_input, ._user_form_program_input, ._user_form_course_input, ._user_form_semester_input {
            border: none;
            padding-bottom: $s-size;
            padding-top: $s-size;
        }

        // Shared css for icon values
        svg {
            place-self: center;
            z-index: 20000;
        }

        // Submit button
        ._settings_theme_secondary_btn {
            padding: $l-size $m-size;
            margin-top: $m-size;
            background: $pink;
            color: $white;
            border-radius: 1rem;
            font-size: 2rem;
        }
    }
}

// Desktop version
@media only screen and (min-width: $desktop-breakpoint) {
    // Base settings
    .user_setup_form{
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        width: 100vw;
        height: 100vh;

        // Main form settings
        form {
            justify-self: end;
        }

         // Illustration div
        ._user_form_illustration_div {
            display: block;
            grid-column: 2;
            justify-self: start;

             // Illustration SVG
            ._user_form_illustration{
                opacity: 1;
                max-width: 650px;
            }
        }
    }
}