#todos_body {
    ._todos_add{
        // Add todo form
        form{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            row-gap: $m-size;
            margin: $m-size;

            // Reset css for form elements
            input[type="date"], select {
                border: none;
                width: 30rem;
            }

            ._todo_add_input {
                padding: 1rem $s-size;
            }

            // Single input allignment
            ._todo_grid_column {
                margin-left: $m-size;
                display: grid;
                grid-template-columns: 0.1fr 1fr;
    
                // Class if input is not defined
                ._empty_item {
                    color: $silver;
                }
    
                option {
                    color: black;
                }
                
                svg {
                    margin-right: $s-size;
                }

                ._spec_form_item {
                    width: 100%;
                }
            }
        }

        // Buttons
        ._todo_add_btn {
            color: $green;
            border: 2px solid $green;
            padding: 0.5rem;
            border-radius: 0.5rem;
            margin: 0 $s-size;
            font-weight: bolder;
        }

        ._todo_cancel_btn {
            color: $red;
            border: 2px solid $red;
            padding: 0.5rem;
            border-radius: 0.5rem;
            margin: 0 $s-size;
            font-weight: bolder;
        }

        ._check_icon, ._times_icon  {
            margin-right: $s-size;
        }
    }
} 

// Desktop version
@media only screen and (min-width: $desktop-breakpoint) {
    #todos_body {
        ._todos_add {
            grid-column: 1/4;

            // Add todo form
            form {
                grid-template-columns: 30% 30% 30%;
                grid-template-rows: 1fr 1fr 1fr;
                row-gap: 2.5rem;
    
                ._todo_add_input {
                    grid-row: 1;
                    grid-column: 1/4;
                }

                input[type="date"] {
                    width: 100%;
                }

                ._todo_date_input {
                    grid-template-columns: 1fr 4fr;
                }

                ._todo_grid_column {
                    svg {
                        align-self: center;
                    }
                }

                ._todo_add_btn {
                    grid-row: 3;
                    grid-column: 1;
                    margin-right: -45%;
                }

                ._todo_cancel_btn {
                    grid-row: 3;
                    grid-column: 3;
                    margin-left: -45%;
                }
            }
        }
    } 
}