#todos_body {
    ._todos_add{
        // Add todo form
        form{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            row-gap: $m-size;
            margin: $m-size;
            padding-bottom: $xl-size;
            font-size: 1.5rem;
            
            input, select {
                transition: 0.1s;
            }

            // Reset css for form elements
            input[type="date"], select {
                border: none;
                width: 30rem;
            }

            // Remove date icon
            input[type="date"]::-webkit-inner-spin-button,
            input[type="date"]::-webkit-calendar-picker-indicator {
                opacity: 0;
                margin-left: -80%;
                padding-left: 100%;
            }

            // Todo description input
            ._todo_add_input {
                padding: 1rem $s-size;
                border: none;
                border-bottom: 1px solid $gray;
            }

            // Single input allignment
            ._todo_grid_column {
                margin-left: $m-size;
                display: grid;
                grid-template-columns: 0.1fr 1fr;
    
                // Class if input is not defined
                ._empty_item {
                    color: $silver;
                }
    
                option {
                    color: black;
                }
                
                svg {
                    margin-right: $s-size;
                }

                ._spec_form_item {
                    width: 100%;
                }
            }
        }

        // Submit button div
        ._submit_btn_div{            
            //Submit button
            ._todo_add_btn {
                color: $green;
                border: 2px solid $green;
                padding: 0.5rem;
                border-radius: 0.5rem;
                margin: 0 $s-size;
                font-weight: bolder;
                width: 100%;
                height: 100%;
                margin-top: $m-size;
            }
        }
        
        // Cancel button div
        ._cancel_btn_div{
            // Cancel Button
            ._todo_cancel_btn {
                color: $red;
                border: 2px solid $red;
                padding: 0.5rem;
                border-radius: 0.5rem;
                margin: 0 $s-size;
                font-weight: bolder;
                width: 100%;
                height: 100%;
            }
        }

        ._check_icon, ._times_icon  {
            margin-right: $s-size;
        }

        // Disabled button class
        ._disabled_btn {
            opacity: 0.25;
        }

        // Ready to submit button class
        ._ready_btn {
            background: $green;
            color: $white!important;
        }

        // Missing input error class
        ._missing_input{
            // border-bottom: 2px solid $pink!important;
            color: $red!important;
            font-weight: bold!important;
            border-bottom: 2px solid $red!important;
        }
    }
} 

// Desktop version
@media only screen and (min-width: $desktop-breakpoint) {
    #todos_body {
        ._todos_add {
            grid-column: 1/4;

            // Add todo form
            form {
                grid-template-columns: 30% 30% 30%;
                grid-template-rows: 1fr 1fr 1fr;
                row-gap: 2.5rem;
                font-size: 2rem;
    
                // Todo description input
                ._todo_add_input {
                    grid-row: 1;
                    grid-column: 1/4;
                }

                // Todo date input
                input[type="date"] {
                    width: 100%;
                }

                ._todo_date_input {
                    grid-template-columns: 1fr 4fr;
                }

                ._todo_grid_column {
                    svg {
                        align-self: center;
                    }
                }

                // Todo add button
                ._submit_btn_div{
                    grid-column: 1/3;
                    grid-row: 3;
                    max-width: 70%;

                    ._todo_add_btn {
                        margin-top: 0;
                    }
                }

                // Todo cancel button
                ._cancel_btn_div{
                    grid-column: 2/4;
                    grid-row: 3;
                    max-width: 75%;
                    margin-left: 30%;
                }
            }
        }
    } 
}