// Mobile version
#settings_body{
    // Settings section main head element
    ._settings_head {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 3.5rem;
        margin: -$s-size 0 $s-size 0;
        font-weight: bold;
        color: black;
    
        p {
            justify-self: center;
        }
    }
}


// Desktop version
@media only screen and (min-width: $desktop-breakpoint) {
    #settings_body {
        // Settings section main head element
        ._settings_head {
            margin-bottom: $xl-size;
        }
    }
}