// Base styling
* {
    box-sizing: border-box
}

html{
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-family: $main-font;
    font-size: $m-size;
}

select {
    width: 100%;
}

// Root React DIV
#root {
    display: grid;
    width: 100vw; 
    height: 100vh;
    grid-template-rows: 8% 7.5% 7.5% 69% 8%;
    grid-template-areas: 
        "footer"
        "section"
        "filter"
        "todos"
        "header";
    overflow: hidden;
    background: #F8F8F8;
}

// Base Custom Styling
a{
    text-decoration: none;
    color: $white;
}

// Pointer on clickable items
button, select, input, ._plus_square_icon, ._todo_body {
    cursor: pointer;
    background: transparent;
}

button:disabled {
    cursor: default;
}

.is-active{
    font-weight: bold;
}

// Background change on section change
.important {
    background: $red!important;
}

.homework {
    background: $orange!important;
}

.notes {
    background: $pink!important;
}

.finished {
    background: $gray!important;
}


// Desktop version
@media only screen and (min-width: $desktop-breakpoint) {
    // Root React DIV
    #root {
        grid-template-areas: 
        "header section section"
        "header todos todos"
        "filter todos todos"
        "filter todos todos"
        "footer todos todos";
        grid-template-columns: 22.5% 80%;
        grid-template-rows: 15% 25% 25% 25% 10%;
    }
}

