// Base styling
* {
    box-sizing: border-box
}

html{
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

select {
    width: 100%;
}

// Root React DIV
#root {
    display: grid;
    width: 100vw; 
    height: 100vh;
    grid-template-rows: 7.5% 7.5% 7.5% 70% 7.5%;
    grid-template-areas: 
        "footer"
        "section"
        "filter"
        "todos"
        "header";
}

// Base Custom Styling
a{
    text-decoration: none;
    color: $white;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active{
    font-weight: bold;
}