// Dark mode
.dark_mode {
    // Custom variables
    $darken-white: darken($color: $white, $amount: 15);
    // Core background
    background: $lightest-black!important;
    color: $white;

    // Section background darken
    .important {
        background: darken($red, 10%)!important;
    }
    
    .homework {
        background: darken($orange, 10%)!important;
    }
    
    .notes {
        background: darken($pink, 10%)!important;
    }
    
    .finished {
        background: darken($gray, 10%)!important;
    }

    // Todos section
    #todos_body {

        // Add todo buttons
        ._todo_add_btn, ._todo_cancel_btn {
            background: $darken-white;
        }

        // Todo details (class, date)
        ._todo_body {
            ._todo_details {
                color: $darken-white;
            }
        }

        // Todo settings buttons
        ._todo_settings, ._todo_toggle {
            button {
                background: $darken-white;
            }

            #submit_btn {
                color: $green;
            }
        }

        // Create todo
        ._todos_add form{
            input, select {
                background: transparent;
                color: $off-white;
            }

            ._todo_add_input {
                color: $off-white!important;
            }

            ._ready_btn {
                background: darken($color: $green, $amount: 10)
            }
        }
    }

    // Settings section
    #settings_body {
        // Title
        p{
            color: $white;
        }

        // Main sections
        button {
            color: $white;
        }

        // Sub sections
        ._settings_theme_main_btn {
            color: $off-white;
        }

        input, select {
            background: $darken-white!important;
        }

        // Sub sections button
        ._settings_theme_secondary_btn, ._settings_add_remove_class_button {
            background: $darken-white;
            color: $green!important;
        }

        // About 
        ._settings_about_body p{
            color: $off-white;
        }
    }

    // Modal
    ._modal_background {
        background: rgba($color: $lightest-black, $alpha: 0.85);

        // Modal content inside
        ._modal_content {

            // Shared buttons CSS
            button {
                background: $darken-white!important;
                color: black!important;
                border-color: $darken-white!important;
            }

            // Yes button
            ._modal_yes_btn {
                background: $red!important;
                color: $white!important;
                border-color: $red!important;
            }
        }
    }
}