// Colors
$dark-black: #231F20;
$light-black: #282828;
$lightest-black: #353535;
$silver: #858585;
$gray: #858585;
$red: #D24A38;
$orange: #E37626;
$pink: #C42A5A;
$green: #0B6F3A;
$white: white;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem; 
$l-size: 3.2rem;
$xl-size: 4.8rem;